body{
    min-width: 99vw;
    min-height: 96vh;
}

img{
    width: 60px;
    height: 60px;
    margin-right: 5px;
}

p#relogio{
    color: rgb(0, 0, 0);
    text-align:center;
    left: 50%;
}

div#Localizacao{
    color: rgb(0, 73, 184);
    text-align:left;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

#Localizacao:hover{
    font-weight: bolder;
}


div#info{
    color: rgb(0, 73, 184);
    display:block;
    position:absolute;
    bottom:0;
    right:0;
    padding:0 2px 5px 0;
}
p#Local{
    margin-top: 2px;
    margin-bottom:10px;
    opacity: 0.2;
    transition: opacity 0.5s;

}
p#Local:hover{
    opacity: 1.0;
    font-weight: bolder;
}

a{
    color: rgb(0, 73, 184);
    font-weight: bold;
    transition: color rgb(0, 101, 253);
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a:hover{
    color: rgb(0, 101, 253);
}

p#info{
    margin: 0;
    padding:0;
}