body.bg{
      /* background-image: url('https://www.xtrafondos.com/wallpapers/one-piece-artwork-4011.jpg');  */
        background-size: cover;


}

img{
    width: 60px;
    height: 60px;
    margin-right: 5px;
}

p#msg{
    color: white;
    text-align:right;
}

div#Localizacao{
    color: rgb(255, 255, 255);
    text-align:left;
    display: flex;
    align-items: center;

}
div#info{
    color: rgb(255, 255, 255);
    text-align:right;
    position: fixed;
    bottom: 0;
    right: 0;
}

p{
    margin-top: 2px;
    margin-bottom:10px;
    opacity: 0.2;
    transition: opacity 0.5s;
}
p:hover{
    opacity: 1.0;
}
footer{
    
}
